{% extends "dashboard_layout.html" %}
{% block junkview %}
        <div class="row">
            <a href="#" class="get-title btn btn-default btn-xs">Title</a>
            <a href="#" class="get-abstract btn btn-default btn-xs">Abstract</a>
            <a href="#" class="get-description btn btn-default btn-xs">Description</a>
        </div>

        <div class="jumbotron">
            <p class="junk-abstract">{{ junk.abstract }}</p>
        </div>
        <br>
        <div class="junk-description">{{ junk.description }}</div>

{% endblock %}

{% block junkscripts %}
<script>
    $(".get-description").click(function (e) {
        $.get("/api/junk/{{objectId}}/description", function(data){
            console.log(data);
            var txt="";
            for (var i = 0; i < data.description.length; i++) {
                txt+="<p>"+ data.description[i] + "</p><br><br>";
                console.log(txt);
            }
            $(".junk-description").html(txt)
        })
    })
    
    $(".get-title").click(function (e) {
        $.get("/api/junk/{{objectId}}/title", function(data){
            $(".junk-title").text(data.title)
        })
    })

    $(".get-abstract").click(function (e) {
        $.get("/api/junk/{{objectId}}/abstract", function(data){
            $(".junk-abstract").text(data.abstract)
        })
    })

</script>
{% endblock %}

{% block junkstyles %}
{% endblock %}
