{% extends "dashboard_layout.html" %}

{% block content %}
<div id="main">
    <div id="header">
        <p class="objectId">#{{ objectId }}</p>
    </div>
    <div id="description"></div>
    <div id="supershapes"></div>
    <div id="three-axis"></div>

</div>
<div id="sidebar">
    <div class="info"></div>
    <div id="eeg">
        <h4>Electro-Encephalo Graph (EEG) </h4>
    </div>
    <div id="brain-values">
        <h4>Neuronal Monitor</h4>
    </div>
    <div id="molecules">
        <h4>Chemical Profiling</h4>
    </div>
</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block scripts %}
<script src="/libs/d3/d3.min.js"></script>
<script src="/libs/rickshaw/rickshaw.min.js"></script>
<script src="/libs/socket.io-client/dist/socket.io.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/libs/stats.js/build/stats.min.js"></script>
<script src="/libs/dat.gui/dat.gui.min.js"></script>

<script src="/libs/threejs/build/three.min.js"></script>
<!-- <script src="/js/orbitControls.js"></script> -->
<script src="/js/trackbackControls.js"></script>
<!-- <script src="/js/super3D.js"></script> -->
<script src="/js/super3D.js"></script>
<script src="/js/CSS3DRenderer.js"></script>
<script src="/js/PDBLoader.js"></script>
<script src="/js/molecules.js"></script>
<script src="/js/init.js"></script>
{{super()}}
{% endblock %}
