@font-face {
    font-family: 'Oxygen Mono2';
    src: url('OxygenMono-Regular-webfont.eot'), 
        url('fonts/OxygenMono-Regular-webfont.woff') format('woff'), 
        url('fonts/OxygenMono-Regular-webfont.ttf') format('truetype'),
        url('fonts/OxygenMono-Regular-webfont.otf') format('opentype'),
        url('fonts/OxygenMono-Regular-webfont.svg#Oxygen Mono2') format('svg');
}


/* typo */
.objectId{
    /*text-align:right;*/
    color: #ff0000;
    margin-right:10px;
}

h2 {
    color : #00cc00;
}
h4 {
    color : #fff;
}

p{
    margin:0;
    padding:0;
    display: inline;
    font-weight: lighter;
}

/* layout */

#dashboard-main {
    font-family: 'Oxygen Mono', 'Oxygen Mono2', Monaco, Menlo, Andale, Arial, sans-serif;
    text-align: left;
    line-height: 1em;
    font-weight: light;
}

/* components */

.bar {
  fill: #00CC00;
}

.bar:hover {
  fill: brown;
}

.axis {
  fill: #00CC00;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #00CC00;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

#three-axis  {
    width: 100px;
    height: 100px;
    background-color: transparent; 
    border: none;
    margin: 20px;
    padding: 0px;
    position: absolute;
    left: 10px;
    bottom: 50px;
    z-index: 100;
}

#molecules  {
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    /*position: absolute;
    right: 0px;
    bottom: 100px;
    z-index: 100;*/
    width: 100%;
    height: 960px;
}

.bond {
    width: 5px;
    height: 10px;
    background: #eee;
    display: block;
}

.junk-description {
    text-align:justify;
}
