{% extends "dashboard_layout.html" %}

{% block junkview %}
<div id="devices" class="">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <!--     <h4><i class="fa fa-leaf"></i> DNA Sequencer

        <a href="#" class="dna-device-start btn-success btn btn-xs btn-default">
          <i class="fa fa-refresh"></i> Connected
        </a>

    </h4> -->
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h4><i class="fa fa-headphones"></i> EEG Headset

        <a href="/devices/eeg/start" class="eeg-device-start btn btn-xs btn-default">
          <i class="fa fa-play"></i> Start

        </a>
        <a href="/devices/eeg/stop" class="eeg-device-stop btn btn-xs btn-default">
          <i class="fa fa-stop"></i> Stop
        </a>
        </h4>
        <!-- <a href="/devices/eeg/test" class="eeg-device-test btn btn-default">
          <i class="fa fa-exclamation"></i> test
        </a> -->
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h4><i class="fa fa-heart"></i> Oxymeter 
            <a href="/devices/oxymeter/start" class="oxymeter-device-start btn btn-xs btn-default">
              <i class="fa fa-play"></i> Start
            </a>
            <a href="/devices/oxymeter/stop" class="oxymeter-device-stop btn btn-xs btn-default">
              <i class="fa fa-stop"></i> Stop
            </a>
        </h4>
       <!--  <a href="/devices/oxymeter/test" class="oxymeter-device-test btn btn-xs btn-default">
          <i class="fa fa-exclamation"></i> test
        </a> -->
      </div>

    </div>
  </div>
</div>

<div id="eeg" class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div id="brain">
    </div>
    <div id="legend"></div>
        <!-- <h4>Neuronal Monitor : Electro-Encephalo Graph (EEG) </h4> -->
    </div>
    <div id="y_axis"></div>
    <div id="preview"></div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <p id="oxygen">00</p>
      <p id="heartrate">00</p>
      <div id="oxygraph"></div>
      <div id="brain-values"></div>
    </div>
</div>

{% endblock %}

{% block junkstyles %}
<link rel="stylesheet" href="/css/rickshaw/graph.css">
<style>
  #legend {
    position: absolute;
    top: 0;
    right: 0;
  }
  #oxygen{
    font-size: 30pt;
    color: blue;
  }
  #heartrate{
    font-size: 15pt;
    color: green;
  }
  #oxygraph .line {
    stroke: green;
  }
  #oxygraph .x.axis {
    font-size: 6pt;
  }
</style>
{% endblock %}
{% block junkscripts %}
    <script src="/libs/d3/d3.min.js"></script>
    <script src="/libs/rickshaw/rickshaw.min.js"></script>
    <script src="/libs/socket.io-client/dist/socket.io.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/oxymeter.js"></script>
    <script>

    /* websockets */

    namespace = ''; // change to an empty string to use the global namespace

    var url ='http://' + document.domain + ':' + location.port + namespace;

    var socket = io.connect(url);
    var isDraw=false;
    var svg,x,y,width,height,margin;

    // var oxymeterGraph = TimeSeriesCounter("#oxygraph");

    socket.on('connect', function() {
        console.log("socket connected");
        socket.emit('eeg_start', function(data) {
            console.log(data);
        });

        socket.emit('oxymeter_start', function(data) {
            console.log(data);
        });

        socket.on('oxymeter', function(data) {
            console.log(data);


            $("#heartrate").text(data.heart_rate);
            $("#oxygen").text(data.oxygen_saturation);


            oxymeterCount = data.x;
            // $("#oxygraph .x").html(data.x);
            // $("#oxygraph .y").html(data.y);
        })

        socket.on('brain', function(data) {
            console.log(data);

            var brainValues=[
                {
                    "name": "attention",
                    "value": data.point.attention // Math.random()*200//
                },
                {
                    "name" : "meditation",
                    "value": data.point.meditation // Math.random()*200// 
                }
            ];

            // console.log(brainValues);
            if(!isDraw){
                margin = {top: 20, right: 20, bottom: 30, left: 40};
                width = 300 - margin.left - margin.right;
                height = 300 - margin.top - margin.bottom;

                x = d3.scale.ordinal()
                    .rangeRoundBands([0, width], .1);

                y = d3.scale.linear()
                    .range([height, 0]);

                var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

                var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");
                    // .ticks(10, "%");

                svg = d3.select("#brain-values").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                  .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                x.domain(brainValues.map(function(d) { return d.name; }));
                y.domain([0, 200]);

                svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(xAxis);

                svg.append("g")
                  .attr("class", "y axis")
                  .call(yAxis)
                .append("text")
                  .attr("transform", "rotate(-90)")
                  .attr("y", 6)
                  .attr("dy", ".71em")
                  .style("text-anchor", "end")
                  .text("Value");
             
                svg.selectAll(".bar")
                  .data(brainValues)
                .enter().append("rect")
                  .attr("class", "bar")
                  .attr("x", function(d) { return x(d.value); })
                  .attr("width", x.rangeBand())
                  .attr("y", function(d) { return y(d.value); })
                  .attr("height", function(d) { return height - y(d.value); });

                isDraw=true;
            } else {
                 update(brainValues);
            }

            function update (_data) {
                svg.selectAll(".bar")
                  .data(_data)
                  .transition()
                  .attr("x", function(d) { return x(d.name); })
                  .attr("width", x.rangeBand())
                  .attr("y", function(d) { return y(d.value); })
                  .attr("height", function(d) { return height - y(d.value); });
            }
        });


    });



    // draw brain waves 
    var seriesData;
    var palette = new Rickshaw.Color.Palette( { scheme: 'classic9' } );
    var rickReady = false;

    // draw brain waves chart
    Rickshaw.Graph.Socketio.Static = Rickshaw.Class.create( Rickshaw.Graph.Socketio, {
            request: function() {
              var socket = io.connect(this.dataURL);
              thisData = this;
                socket.on('brain', function (data) {
                    // console.log(data);
                   thisData.success(data);
                });
            }
        } );

    var EEGGraph = new Rickshaw.Graph.Socketio.Static( {
        element: document.getElementById("brain"),
        width: 600,
        height: 400,
        renderer: 'line',
        dataURL: url,
        onData: function(d) { 
                var seriesData=d.series;
                var series = [
                    {
                        color: palette.color(),
                        data: seriesData[0].data,
                        name: seriesData[0].name
                    }, {
                        color: palette.color(),
                        data: seriesData[1].data,
                        name: seriesData[1].name
                    }, {
                        color: palette.color(),
                        data: seriesData[2].data,
                        name: seriesData[2].name
                    }, {
                        color: palette.color(),
                        data: seriesData[3].data,
                        name: seriesData[3].name
                    }, {
                        color: palette.color(),
                        data: seriesData[4].data,
                        name: seriesData[4].name
                    }, {
                        color: palette.color(),
                        data: seriesData[5].data,
                        name: seriesData[5].name
                    }, {
                        color: palette.color(),
                        data: seriesData[6].data,
                        name: seriesData[6].name
                    }, {
                        color: palette.color(),
                        data: seriesData[7].data,
                        name: seriesData[7].name
                    }
                ]
                return series;
            }
    } );

    var rickInit =false;
    socket.on('brain', function(data) {

      /* draw ricksaw legends */
        if( !rickReady) rickReady=true
        else if( rickReady && !rickInit) {

            // add 
            // console.log(EEGGraph);
            var graph = EEGGraph.graph;
            rickInit=true;

            var preview = new Rickshaw.Graph.RangeSlider( {
              graph: graph,
              element: document.getElementById('preview'),
            } );

            var legend = new Rickshaw.Graph.Legend( {
              graph: graph,
              element: document.getElementById('legend')
            });

            var hoverDetail = new Rickshaw.Graph.HoverDetail( {
              graph: graph,
              // xFormatter: function(x) {
              //   console.log(x);
              //   return // new Date(x * 1000).toString();
              // },
              yFormatter: function(y) {
                console.log(y);
                return y; //new Date(x * 1000).toString();
              }
            } );

            var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
              graph: graph,
              legend: legend
            } );

            var order = new Rickshaw.Graph.Behavior.Series.Order( {
              graph: graph,
              legend: legend
            } );

            var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
              graph: graph,
              legend: legend
            } );

            var ticksTreatment = 'plain';

            var xAxis = new Rickshaw.Graph.Axis.Time( {
              graph: graph,
              ticksTreatment: ticksTreatment,
              timeFixture: new Rickshaw.Fixtures.Time.Local()
            } );

            xAxis.render();

            var yAxis = new Rickshaw.Graph.Axis.Y( {
              graph: graph,
              tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
              ticksTreatment: ticksTreatment
            } );

            yAxis.render();

            // previewXAxis.render();

        }
    })


    </script>

{% endblock %}

