{% extends "dashboard_layout.html" %}

{% block junkview %}
<h3 id="glmol01_pdbTitle"></h3>
<div id="glmol01"></div>
<div id="glmol01_src"></div>

<div style="position: absolute; color: white; right: 10px; bottom: 10px; z-index: 99; background-color: rgba(0, 0, 0, 0.65);" class="radio">
  <label><input type="radio" name="glmol01_mouseMode" value="0" checked>Rotate</label>
  <label><input type="radio" name="glmol01_mouseMode" value="1">Translate</label>
  <label><input type="radio" name="glmol01_mouseMode" value="2">Zoom</label>
  <label><input type="radio" name="glmol01_mouseMode" value="3">Slab</label></label>
  <button class="btn btn-default btn-xs"onClick="glmol01.doFunc(function(mol) {mol.zoomInto(mol.getAllAtoms());mol.show()});">Reset view</button>
</div>

<div id="loading" style="border: 2px solid white; position: absolute; color: white; left: 10%; top: 10%; padding: 5px; z-index:101;">
  <p>Loading structure from server... It may take a while.</p>
</div>


{% endblock %}

{% block junkscripts %}
<script src="/js/Three49custom.js"></script> 
<script src="/js/GLmol.js"></script> 
<script type="text/javascript">

  var random = function(min, max){
    return min + Math.random()*(max-min);
  };

  var getRandomMolecule = function(callback) {
    $.get("/data/molecules", function (data) {

      console.log(data);
      var mol = data.molecules[ parseInt(random(0,data.molecules.length))];
      console.log(mol);
      callback(mol);
    })
  }

  var glmol01;  

  $.get("/api/junk/{{objectId}}/molecule", function (_moleculeFile) {
    
    console.  log(_moleculeFile);
    if(_moleculeFile == undefined) {
      getRandomMolecule(function(randomFile) {
        // displayMolecule(randomFile);
        console.log("get a random file");
        displayMolecule(randomFile)
      });
    } else {
      // console.log("display : "+ _moleculeFile);
      displayMolecule(_moleculeFile.molecule)
    }
  })
  

  var displayMolecule = function (_moleculeFile) {
    var url = "/data/molecules/" + _moleculeFile;
    $.get(url, function (data) {
      // console.log(data);
      glmol01 = new GLmol('glmol01', true);
      console.log(glmol01);
      $("#glmol01_src").val(data);
      glmol01.loadMolecule();
      $('#loading').hide();
    })
  }


</script>
{% endblock %}

{% block junkstyles %}
<style>
 #glmol01 {width: 960px; height: 600px; background-color: black;}
 
.controller {position: absolute; width: 0px; right: 0px; top: 10%; 
    background-color: rgba(0, 0, 0, 0.65); color: white;}
  </style>
  {% endblock %}
