{% extends "dashboard_layout.html" %}
{% block junkview %}
        <div class="row">
            <a href="#" class="get-description btn btn-default btn-xs">Description</a>
            <a href="#" class="get-abstract btn btn-default btn-xs">Abstract</a>
            <a href="#" class="get-title btn btn-default btn-xs">Title</a>
        </div>

        <div class="jumbotron">
            <p class="junk-abstract">{{ junk.abstract }}</p>
        </div>
        <br>
        <div class="junk-description">
            {% for desc in junk.description %}
               <div class="message">{{ desc }}</div>
            {% endfor %}
        </div>

{% endblock %}

{% block junkstyles %}
    <style>
    .message {
        margin-bottom: 12px;
        font-size: 11pt;
    }
    </style>
{% endblock %}

{% block junkscripts %}

<script src="/js/jquery.shuffleLetters.js"></script>
<script src="/js/Terminal.js"></script>

<script>

    var terminal= new Terminal(".junk-description", "    ",["ok","test"] );
    terminal.init();

    $(".get-title").click(function (e) {
        $.get("/api/junk/{{objectId}}/title", function(data){
            $(".junk-title").text(data.title);
            $(".junk-title").shuffleLetters();
            junk.title=data.title;
        })
    })

    $(".get-abstract").click(function (e) {
        $.get("/api/junk/{{objectId}}/abstract", function(data){
            $(".junk-abstract").text(data.abstract)
            $(".junk-abstract").shuffleLetters();
            junk.abstract = data.abstract;
        })
    })

    $(".get-description").click(function (e) {
        $.get("/api/junk/{{objectId}}/description", function(data){
            // console.log(data.description);
            $(".junk-description").html("");
            junk.description = data.description;
            terminal.addMessages(data.description)

        })
    })

</script>
{% endblock %}
