{% extends "layout.html" %}

{% block content %}
<div id="dashboard-header row">
    <h2 class="junk-title">{{ junk.title }} <small class="objectId">#{{ objectId }}</small></h2>
    <ul class="nav nav-tabs">
    </ul>
</div>

<div class="container">
    {% block junkview %}
    {% endblock %} 
</div>
{% endblock %}    

{% block scripts %}

<link rel="stylesheet" href="/css/dashboard.css">
<script>
    var junk = {{ junk | tojson }};

    $("ul.object-navbar").removeClass('hidden');
    $(".main-nav").addClass('hidden');

</script>
{% block junkscripts %}
{% endblock %}

{% endblock %}


{% block styles %}
    {% block junkstyles %}
    {% endblock %}
{% endblock %}
