<!DOCTYPE HTML>
<html>
<head>
    <title>Junkware</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- <meta name="description" content="Supershape.js visualizes the 3D super formula with three.js." />
    <meta name="keywords" content="supershape, superformula, three.js, supershape.js, generative design" /> -->
    <link rel="canonical" href="http://junkware.io" />
    <script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
    
{% block styles %}
{% endblock %}
</head>
<body id="container">
{% block content %}
{% endblock %}    
</body>
{% block scripts %}
{% endblock %}
</html>
