{% extends "layout.html" %}
{% block content %}


    <div class="row">
        {% for junk in junks %}
        <div class="col-sm-3">
            <div class="col-item">
                <div class="photo">
                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                    <div class="row">
                        <h2>A cat that melts and open doors</h2>
                        <div class="price col-md-6">
                            <h5 class="price-text-color">
                                $199.99</h5>
                        </div>
                        <div class="rating hidden-sm col-md-6">
                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                            </i><i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="separator clear-left">
                        <p class="btn-add">
                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                        <p class="btn-details">
                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index-grid.css')}}">
{% endblock %}
