{% extends "layout.html" %}
{% block content %}
    <div class="row">
        {% for junk in junks %}
        <div class="col-sm-3">
            <div class="col-item">
                <!-- <div class="photo">
                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                </div> -->
                <div class="info">
                    <div class="row">
                        <h2><small><a href="/junk/{{junk._id }}">
                        {{ junk.title }}
                        </a></small></h2>
                        {{ junk.abstract }}
                        <div class="price col-md-6">
                            <h4 class="price-text-color">
                                $XXX
                            </h4>
                        </div>
                        <div class="rating hidden-sm col-md-6">
                            <i class="price-text-color fa fa-star"></i>
                            <i class="price-text-color fa fa-star"></i>
                            <i class="price-text-color fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i><a href="#" class="add-junk-to-cart hidden-sm">Add to cart</a></p>
                            <p class="btn-details">
                                <i class="fa fa-list"></i><a href="/junk/{{junk._id }}" class="hidden-sm">More details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index-grid.css')}}">

<style>

</style>
{% endblock %}


{% block scripts %}
<script>
    $(".price").each(function(d){
        $(this).find("h4").html("$"+Math.floor(Math.random()*1000));
    });
</script>

{% endblock %}
